# IntelliJ project files
.idea
*.iml
out
gen

# Eclipse files
.settings/
.project
.classpath
bukkit/.settings/
bukkit/.project
bukkit/.classpath
core/.settings/
core/.project
core/.classpath
assembly/.settings/
assembly/.project
assembly/.classpath

# Gradle files
build/
bukkit/build/
core/build/
assembly/build/
.gradle/
